<?xml version="1.0">
<model>
    <name>Differential Drive</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>

    <author>
    <name>Prateek Arora</name>
    <email>prateekarorav2@gmail.com</email>
    </author>

    <description>
    My awersome robot
    </description>
</model>